# [Local env files]
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# [Testing]
coverage

# [Turbo]
.turbo

# [Build Outputs]
build
dist
.tokens-cache.json

# [Pack]
**/*.tgz

# [Debug]
npm-debug.log*
pnpm-debug.log*

# [Misc]
.DS_Store
*.pem

# [TypeScript build info]
*.tsbuildinfo

# [Storybook]
*storybook.log
storybook-static

# [pnpm]
node_modules/
.pnpm-store/

# [Claude Local settings]
CLAUDE.local.md
.claude/settings.local.json
